{% extends 'home/bootstrap.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap5_extra_head %}
    <meta name="description" content="{{ site_name }}" />
    <link rel="stylesheet" type="text/css" href="{% static 'npm_components/bootstrap-icons/font/bootstrap-icons.css' %}" />
{% endblock %}

{% block bootstrap5_before_content %}
    <header>
        {% include "parts/header.html" %}
    </header>
{% endblock %}

{% block bootstrap5_content %}
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    <main class="flex-shrink-0">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}

{% block bootstrap5_after_content %}
    {% include "parts/footer.html" %}
{% endblock %}
