{% extends 'home/bootstrap.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap5_extra_head %}
    <meta name="description" content="{{ site_name }}" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'npm_components/bootstrap-icons/font/bootstrap-icons.css' %}" />
{% endblock %}

{% block bootstrap5_extra_script %}
    <script src='{% static "js/base.js" %}'></script>

    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src='{% static "npm_components/@popperjs/core/dist/umd/popper.min.js" %}'></script>
    <script src='{% static "npm_components/jquery/dist/jquery.min.js" %}'></script>
{% endblock %}

{% block bootstrap5_before_content %}
    <header>
        {% include "parts/header.html" %}
    </header>
{% endblock %}

{% block bootstrap5_content %}
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    <div class="container-fluid px-4 py-2">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block bootstrap5_after_content %}
    {% include "parts/footer.html" %}
{% endblock %}
