{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block bootstrap5_extra_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/language_selector.css' %}" /> 
    <script src='{% static "npm_components/@popperjs/core/dist/umd/popper.min.js" %}'></script>   
{% endblock %}

{% bootstrap_javascript %}

{% get_current_language as current_language %}
{% get_available_languages as available_languages %}
{% get_language_info_list for available_languages as languages %}

<div class="dropdown language_selector">
    <button class="btn shadow-none dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-globe"></i>
        {{ current_language|language_name_local }}
    </button>
    <ul class="dropdown-menu">
        {% for language in languages %}
            <li><a class="dropdown-item" href="#">{{ language.name_local }}</a></li>
        {% endfor %}
    </ul>
</div>

