{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block bootstrap5_extra_head %}
    <script src='{% static "npm_components/@popperjs/core/dist/umd/popper.min.js" %}'></script>   
{% endblock %}

{% bootstrap_javascript %}

<div class="dropdown">
    <button class="btn dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-globe"></i>
    </button>
    <ul class="dropdown-menu">
        {% get_current_language as current_language %}
        {% get_available_languages as available_languages %}
        {% get_language_info_list for available_languages as languages %}
        {% for language in languages %}
            <li><a class="dropdown-item" href="#">{{ language.name_local }}</a></li>
        {% endfor %}
    </ul>
</div>

