{% extends 'home/base.html' %}
{% load i18n %}
{% block content %}

<div class="text-justify">
    <div class="d-flex flex-container py-2">
        <div class="d-flex justify-content-left float-left w-75"><h2>{{ _('Reported incidents') }}</h2></div>
        <div class="d-flex justify-content-right float-left w-25">
            <input class="form-control" id="search-by-incident-id" placeholder="{{ _('Incident ID') }}" value="" autocomplete="off" />
            <button class="btn btn-primary" onclick="searchByIncidentId()">{{ _('Search') }}</button>
        </div>
    </div>
    {% if incidents %}
    <table class="table">
        <tr>
            <th scope="col">{{ _('Incident ID') }}</th>
            <th scope="col">{{ _('Significant impact') }}</th>
            <th scope="col">{{ _('Regulations') }}</th>
            <th scope="col">{{ _('Affected services') }}</th>
            <th scope="col">{{ _('Preliminary notification date') }}</th>
            <th scope="col">{{ _('Final declaration date') }}</th>
            <th scope="col">{{ _('Actions') }}</th>
        </tr>
        {% for incident in incidents_page.object_list %}
        <tr>
            <td>{{ incident.incident_id }}</td>
            <td>{{ incident.is_significative_impact }}</td>
            <td><ul>
            {% for regulation in incident.regulations.all %}
                <li>{{ regulation.label }}</li>
            {% endfor %}
            </ul></td>
            <td><ul>
            {% for service in incident.affected_services.all %}
                <li>{{ service.name }}</li>
            {% endfor %}
            </ul>
            </td>
            <td>{{ incident.preliminary_notification_date|date:'d-m-Y' }}</td>
            <td>{{ incident.final_notification_date|date:'d-m-Y' }}</td>
            <td style="white-space: nowrap;">
                <a href="{% url 'regulator_incident_edit' incident.id %}" class="changelink">{{ _('Edit') }}</a>
                <a href="{% url 'download_incident_pdf' incident.id %}">
                    <img src="/static/images/pdf_file_icon.png" alt="download pdf" width="18" height="24">
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if incidents_page.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ incidents_page.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ incidents_page.number }} of {{ incidents_page.paginator.num_pages }}.
            </span>

            {% if incidents_page.has_next %}
                <a href="?page={{ incidents_page.next_page_number }}">next</a>
                <a href="?page={{ incidents_page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <p>There are no incidents</p>
    {% endif %}

</div>

<script type="text/javascript">
    function searchByIncidentId() {
        const incidentId = $('#search-by-incident-id').val();
        listUrl = '/incidents/regulator/incidents';
        if (incidentId !== '') {
            const urlParams = new URLSearchParams(window.location.search);
            urlParams.set('incidentId', incidentId)
            listUrl += '?' + urlParams.toString();
        }

        window.location.href = listUrl;
    }
</script>
{% endblock %}
