{% extends 'home/base.html' %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load custom_filters %}
{% load django_bootstrap5 %}

{% block bootstrap5_extra_script %}
<script type="text/javascript" src="{% static 'npm_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'npm_components/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" />
<script type="text/javascript" src="{% static 'npm_components/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'npm_components/datatables.net-searchpanes-bs5/css/searchPanes.bootstrap5.min.css' %}" />
<script src='{% static "js/incidents_regulator.js" %}'></script>
{% endblock %}

{% block content %}
<h3>{{ _('Reported incidents') }}</h3>
{% if incidents %}
<table id="incidents-table" class="table align-middle table-sm small">
    <thead>
        <tr>
            <th scope="col">{% translate "Date and Time" %}</th>
            <th scope="col">{% translate "Regulation" %}</th>
            <th scope="col">{% translate "Reference" %}</th>
            <th scope="col">{% translate "Operator" %}</th>
            <th scope="col">{% translate "Sectors" %}</th>
            <th scope="col">{% translate "Sub-sectors" %}</th>
            <th scope="col">{% translate "Incident report" %}</th>
            <th scope="col">{% translate "Incident status" %}</th>
            <th scope="col">{% translate "Review status" %}</th>
            <th scope="col">{% translate "Significative impact" %}</th>
            <th scope="col">{% translate "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for incident in incidents %}
        <tr>
                {% timezone "Europe/Paris" %}
                <td scope="row">{{incident.incident_notification_date|date:"d M Y, H:i" }}</td>
                {% endtimezone %}
                <td>{{ incident.sector_regulation.regulation }}</td>
                <td>{% bootstrap_field incident.formsStatus.incident_id show_label=False wrapper_class="m-0" %}</td>
                <td>{{ incident.company.identifier }}</td>
                <td>
                    <ul class="m-0 p-0">
                        {% for sector in incident.affected_sectors.all %}
                            {% if sector.parent is None %}
                                {{ sector.name }}
                            {% else %}
                                {{ sector.parent }}
                            {% endif %}
                    </ul>
                </td>
                <td>
                    <ul class="m-0 p-0">
                            {% if sector.parent is not None %}
                                {{ sector.name }}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <table class="table table-borderless table-sm m-0">
                        {% for report in incident.get_all_workflows %}
                        {% with filtered_workflows=incident.formsWorkflow|filter_workflows_forms:report.id %}
                        <tr colspan="2">
                            <td class="col-5">
                                <a class="{% if not filtered_workflows %}disabled-link{% endif %}"
                                    href="{% if filtered_workflows %}{% url 'edit_workflow' %}?incident_id={{ incident.id }}&workflow_id={{ report.id }}{% endif %}">
                                    {{ report }}
                                </a>
                            </td>
                            <td id="workflow_review_status_{{filtered_workflows.instance.id}}" class="col-8 {% status_class filtered_workflows.initial.review_status %}">
                                {% if filtered_workflows %}
                                {% bootstrap_field filtered_workflows.review_status show_label=False wrapper_class="m-0" %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </table>
                </td>
                <td>{% bootstrap_field incident.formsStatus.incident_status show_label=False wrapper_class="m-0" %}</td>
                <td id="review_status_{{incident.pk}}" class="{% status_class incident.review_status %}">
                    {% bootstrap_field incident.formsStatus.review_status show_label=False wrapper_class="m-0"%}
                </td>
                <td>{% bootstrap_field incident.formsStatus.is_significative_impact show_label=False wrapper_class="d-flex align-items-center justify-content-center" %}</td>
                <td style="white-space: nowrap;">
                    <a href="{% url 'download_incident_pdf' incident.id %}">
                        <img src="/static/images/pdf_file_icon.png" alt="download pdf" width="18" height="24">
                    </a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>{% translate "There are no incidents" %}</p>
{% endif %}
{% endblock %}
