# Ignore the following
__pycache__/
*.py[cod]
*.sqlite[3]
.idea
.vscode/

docs/_build/

*.egg-info/
npm-debug.log
node_modules/

*.mo

logs/
sent_emails/
tmp/

governanceplatform/config_prod.py
governanceplatform/config.py
governanceplatform/static/
theme/

static/npm_components
volumes/
dump.rdb
