a.changelink {
    padding-left: 16px;
    background: url(../admin/img/icon-changelink.svg) 0 1px no-repeat;
    float: left;
    margin-right: 12px
}

.bold {
    font-weight:bold;
}


.required-field > label::after {
    content: " * ";
    color: red;
    font-weight: bold;
    padding-right: 2px;
}

.disabled-link {
    color: gray !important;
    pointer-events: none;
    cursor: default;
}
