{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n %}
{% block branding %}
    <a href="{% url 'admin:index' %}" style="margin-right: 10px">
        <img src="{% static 'images/logo.png' %}" alt="Logo" width="30px" class="d-inline-block align-text-top">
    </a>
    <h1 id="site-name">{{ site_header|default:_('Django administration') }}</h1>

{% endblock %}
{% block nav-global %}
    <div class="header-links">
        <a href="{% url 'two_factor:profile' %}">{% trans 'Account Security' %}</a>
        <a href="{% url 'password_change' %}">{% trans 'Password change' %}</a>
        {% if site_url and not is_only_admin %}
                <a href="{{ site_url }}">{% translate 'Return to' %} {{ site_name }}</a>
        {% endif %}
        <a href="{% url 'logout' %}">{% translate 'Log out' %}</a>
        {% include "home/language_selector.html" %}
    </div>
{% endblock %}
