<script>
  function toggle(className) {
    let elements = document.getElementsByClassName(className);
    for (let element of elements){
        let hidden = element.getAttribute("hidden");

        if (hidden) {
        element.removeAttribute("hidden");
        } else {
        element.setAttribute("hidden", "hidden");
        }
    }
  }
</script>

{% with id=widget.attrs.id %}<div{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>{% for group, options, index in widget.optgroups %}{% if group %}
  <div><label class="bi bi-arrow-down-square btn btn-secondary" onclick="toggle('{{group}}')" >    {{ group }}</label>{% endif %}{% for option in options %}<div>
    {% include option.template_name with widget=option %}</div>{% endfor %}{% if group %}
  </div>{% endif %}{% endfor %}
</div>{% endwith %}
