{% load custom_filters %}

<div class="form-check">
{% if widget.wrap_label %}
    <input class="form-check-input" name="{{ widget.name }}" type="checkbox" id="{{ widget.index }}_{{ widget.attrs.id }}" value="{{ widget.value|stringformat:'s' }}" {% include "django/forms/widgets/attrs.html" %}>
    <label class="form-check-label" for="{{ widget.index }}_{{ widget.attrs.id }}">
        <div>
        {% for label in widget.label|linebreaksbr|split:"<br>" %}
            {% if label %}
                <p class="{% if forloop.first %}fw-bold mb-2{% else %}small text-muted ps-3 mb-1{% endif %}">{{ label|safe }}</p>
            {% endif %}
        {% endfor %}
        </div>
    </label>
{% endif %}
</div>
