{% with id=widget.attrs.id %}
<div {% if id %} id="{{ id }}" {% endif %} class="accordion accordion-flush" id="impactsAccordion">
  {% for group, options, index in widget.optgroups %}
    {% if group %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="{{ index }}">
        <button class="accordion-button impacts-accordion-button text-white fw-bold rounded-top" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{ index }}" aria-expanded="true" aria-controls="collapse_{{ index }}">
          {{ group|safe }}
        </button>
      </h2>
    </div>
    <div id="collapse_{{ index }}" class="accordion-collapse collapse show" aria-labelledby="{{ index }}" data-bs-parent="#impactsAccordion">
      <div class="accordion-body">
        {% for option in options %}
            {% include option.template_name with widget=option %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endwith %}
