{% load django_bootstrap5 %}
{% load i18n %}
{% load tz %}
{% load custom_filters %}

{% block content %}
{% settings_value "TIME_ZONE" as time_zone %}

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="access_log_label">
            {% translate "Access log" %}
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <h6>{{ incident.incident_id }}</h6>
        {% if log %}
        <table class="table table-sm small">
            <thead class="table-light">
                <tr>
                    <th scope="col">{% translate "Date" %}</th>
                    <th scope="col">{% translate "User" %}</th>
                    <th scope="col">{% translate "Document" %}</th>
                    <th scope="col">{% translate "Action" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for record in log %}
                {% timezone time_zone %}
                <tr>
                    <td>
                        {{record.timestamp|date:"d M Y, H:i" }}
                    </td>
                    <td>
                        {% if record.user %}
                        {{record.user.get_full_name }}
                        {% else %}
                        {{record.user__full_name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if record.incident_report %}
                        {{ record.incident_report.workflow.name }}
                        ({{ record.incident_report.timestamp|date:"d/m/Y H:i" }})
                        {% else %}
                        {{record.incident.incident_id }}
                        {% endif %}
                    </td>
                    <td>{{record.action }}</td>
                </tr>
                {% endtimezone %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2 class="text-center">
            {% translate "No entries" %}
        </h2>
        {% endif %}
    </div>
</div>
{% endblock %}
