{% load django_bootstrap5 %}
{% load i18n %}

<div class="row">
    <div class="col-md-6">
        <h4>{{ _('Company information')}}</h4>
        {% bootstrap_field wizard.form.company_name show_label=False placeholder=_("Name") %}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>{{ _('Person in charge of the incident notification')}}</h4>
        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field wizard.form.contact_firstname show_label=False placeholder=_("Firstname") %}
            </div>
            <div class="col-md-6">
                {% bootstrap_field wizard.form.contact_lastname show_label=False placeholder=_("Lastname") %}
            </div>
        </div>
        <div class="col-auto">
            {% bootstrap_field wizard.form.contact_title show_label=False placeholder=_("Job Title") %}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field wizard.form.contact_email show_label=False placeholder=_("Email") %}
            </div>
            <div class="col-md-6">
                {% bootstrap_field wizard.form.contact_telephone show_label=False placeholder=_("Telephone") %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>{{ _('Technical contact')}}</h4>
        <div class="d-flex d-inline m-2">
                {% translate "Is the same person in charge of technical aspect?" as translated_label %}
                {% bootstrap_label translated_label label_class="pe-2" %}
                {% bootstrap_field wizard.form.is_technical_the_same show_label=False%}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field wizard.form.technical_firstname show_label=False placeholder=_("Firstname") %}
            </div>
            <div class="col-md-6">
                {% bootstrap_field wizard.form.technical_lastname show_label=False placeholder=_("Lastname") %}
            </div>
        </div>
        <div class="col-auto">
            {% bootstrap_field wizard.form.technical_title show_label=False placeholder=_("Job Title") %}
        </div>
        <div class="row">
            <div class="col-md-6">
                {% bootstrap_field wizard.form.technical_email show_label=False placeholder=_("Email") %}
            </div>
            <div class="col-md-6">
                {% bootstrap_field wizard.form.technical_telephone show_label=False placeholder=_("Telephone") %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="d-flex align-items-center">
            <h4 class="">{{ _('References') }}</h4>
            <small class="text-muted ps-2">({{ _('Optional') }})</small>
        </div>
        {% bootstrap_field wizard.form.incident_reference show_label=False %}
        {% bootstrap_field wizard.form.complaint_reference show_label=False %}
    </div>
</div>
