{% extends 'home/base.html' %}
{% load django_bootstrap5 %}
{% load custom_filters %}
{% load static %}

{% block content %}
<script src="/static/npm_components/jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="/static/npm_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/npm_components/bootstrap-select/dist/css/bootstrap-select.css" />
<script src="/static/npm_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

<div class="card">
  <form action="" method="post">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        {% for step in wizard.steps.all %}
        <li class="nav-item">
          {% with step_name=steps|index:step %}

            {% csrf_token %}
            {% if step != wizard.steps.current %}
            {% bootstrap_button name="wizard_goto_step" button_type="submit" button_class="btn-light" value=step content=step_name %}
            {% else %}
            {% bootstrap_button name="wizard_goto_step" button_type="submit" value=step content=step_name %}
            {% endif %}
            {% endwith %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-body">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
            {% bootstrap_form_errors form %}
            {% bootstrap_form form %}
          {% endfor %}
        {% else %}
          {% with form_class_name=wizard.form|get_class_name %}
          {% if form_class_name == 'ContactForm' %}
            {% include "contact_form.html" %}
          {% else %}
            {{ wizard.form.media }}
            <div class="col-md-6">
              {% bootstrap_form wizard.form %}
            </div>
          {% endif %}
          {% endwith %}
        {% endif %}
        {% if wizard.steps.last == wizard.steps.current %}
          {% bootstrap_button button_type="submit" content="Notify"|translate %}
        {% else %}
          {% bootstrap_button button_type="submit" content="Next"|translate  %}
        {% endif %}
    </div>
  </form>
</div>
<a href="{% url 'incidents' %}">{% bootstrap_button button_type="" content="Cancel"|translate button_class="btn-danger" %}</a>

{% endblock %}
{% block bootstrap5_extra_script %}
  <script src='{% static "js/declaration.js" %}'></script>
{% endblock %}