{% extends 'home/base.html' %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load custom_filters %}
{% load django_bootstrap5 %}

{% block bootstrap5_title %}
    {% translate "Incidents" %}
{% endblock %}

{% block bootstrap5_extra_script %}
<script type="text/javascript" src="{% static 'npm_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'npm_components/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" />
<script type="text/javascript"
    src="{% static 'npm_components/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="/static/npm_components/bootstrap-select/dist/css/bootstrap-select.css" />
<script src="/static/npm_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src='{% static "js/incidents.js" %}'></script>
<link rel="stylesheet" href="{% static 'css/incidents.css' %}" />
{% endblock %}

{% block content %}
{% block content_title %}
<h3>{% translate "Reported incidents" %}</h3>
{% endblock %}
{% settings_value "TIME_ZONE" as time_zone %}
<div class="d-flex {% if is_regulator or is_observer %}justify-content-end{% else %}justify-content-between{% endif %}">
    {% if not is_regulator and not is_observer %}
    <div>
        <a role="button" class="btn btn-primary btn-sm" href="{% url 'declaration' %}">
            {% translate "Report an incident" %}
        </a>
    </div>
    {% endif %}
    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters"
        aria-expanded="false" aria-controls="collapseFilters">
        {% translate "Filter" %}
        {% if is_filtered %}
        <span>
            ({% translate "Applied" %})
        </span>
        {% endif %}
        <i class="bi bi-funnel-fill"></i>
    </button>
</div>
<div class="my-2">
    <div id="collapseFilters" class="collapse">
        <form method="get">
            <div class="row">
                <div class="col-6">
                    {% bootstrap_field filter.form.incident_id show_label=True %}
                </div>
                <div class="col-6">
                    {% bootstrap_field filter.form.incident_status show_label=True %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {% bootstrap_field filter.form.is_significative_impact show_label=True %}
                </div>
                <div class="col-6">
                    {% bootstrap_field filter.form.affected_sectors show_label=True wrapper_class="affected-sector-filter" %}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-danger btn-sm" type="submit" name="reset" value="true">
                    {% translate "Reset" %}
                </button>
                <input class="btn btn-primary btn-sm ms-2" type="submit" value='{{_("Search")}}' />
            </div>
        </form>
    </div>
</div>
{% if filter.qs %}
<table id="incidents-table" class="table align-middle table-sm small">
    <thead>
        <tr>
            <th scope="col">{% translate "Notification date" %}</th>
            <th scope="col">{% translate "Reference" %}</th>
            <th scope="col">
                {% if is_observer %}
                {% translate "Regulator" %}
                {% else %}
                {% translate "Regulation" %}
                {% endif %}
            </th>
            <th scope="col">
                {% if is_regulator or is_observer %}
                {% translate "Operator" %}
                {% else %}
                {% translate "Regulator" %}
                {% endif %}
            </th>
            <th scope="col">{% translate "Sectors" %}</th>
            <th scope="col">{% translate "Sub-sectors" %}</th>
            <th scope="col">
                <table class="table table-borderless table-sm m-0">
                    <tr>
                        <td>{% translate "Report" %}</td>
                        <td>{% translate "Status" %}</td>
                    </tr>
                </table>
            </th>
            <th scope="col">{% translate "Incident status" %}</th>
            <th scope="col">{% translate "Significative impact" %}</th>
            <th scope="col">{% translate "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for incident in incidents %}
        {% timezone time_zone %}
        <tr>
            <td class="table-group-divider"> <!-- Notification date -->
                {{incident.incident_notification_date|date:"d M Y, H:i" }}
            </td>
            <td class="table-group-divider"> <!-- Reference -->
                {% block content_table_incident_id %}
                {% for field in incident.formsStatus %}
                {% if field.name == "incident_id" %}
                {% bootstrap_field field show_label=False wrapper_class="m-0" %}
                {% endif %}
                {% endfor %}
                {% endblock %}
            </td>
            <td class="table-group-divider"> <!-- Regulation or Regulator(observer case) -->
                {% block content_table_regulation_or_regulator %}
                {{ incident.sector_regulation.regulation }}
                {% endblock %}
            </td>
            <td class="table-group-divider"> <!-- Regulator / Operator -->
                {% block content_table_entity %}
                {{ incident.company.identifier }}
                {% endblock %}
            </td>
            <td class="table-group-divider"> <!-- Sectors -->
                <ul class="m-0 p-0">
                    {% for sector in incident.affected_sectors.all %}
                    {% if sector.parent is None %}
                    {{ sector.name }}
                    {% else %}
                    {{ sector.parent }}
                    {% endif %}
                    <br />
                    {% endfor %}
                </ul>
            </td>
            <td class="table-group-divider"> <!-- Sub-sectors -->
                <ul class="m-0 p-0">
                    {% for sector in incident.affected_sectors.all %}
                    {% if sector.parent is not None %}
                    {{ sector.name }}
                    {% endif %}
                    <br />
                    {% endfor %}
                </ul>
            </td>
            <td class="table-group-divider"> <!-- Report name and status -->
                {% block content_table_report %}
                <table class="table table-borderless table-sm m-0">
                    {% for report in incident.get_all_workflows %}
                    {% with filtered_workflows=incident|filter_workflows_forms:report %}
                    <tr>
                        <td class="col-6">
                            <a class="{% if not filtered_workflows %}disabled-link text-decoration-none{% endif %}"
                                href="{% if filtered_workflows %}{% url 'edit_workflow' %}?incident_workflow_id={{ filtered_workflows.instance.id }}{% endif %}">
                                {{ report }}
                            </a>
                            {% with incident_workflows=incident|get_incident_workflow_by_workflow:report %}
                            {% if incident_workflows %}
                            <button class="btn text-secondary p-0 ps-1 report_versions"
                                data-workflows="{{ incident_workflows }}"
                                data-report="{{ report }}"
                                data-incident-ref="{{ incident.incident_id}}"
                                data-review-url="{% url 'review_workflow' %}?incident_workflow_id="
                                data-download-url="{% url 'download_incident_report_pdf' 0 %}"
                                data-bs-toggle="modal"
                                data-bs-target="#report_versions"
                                title="Report versions">
                                <i class="bi bi-clock-history"></i>
                            </button>
                            {% endif %}
                            {% endwith %}
                        </td>
                        {% if filtered_workflows %}
                        <td id="workflow_review_status_{{filtered_workflows.instance.id}}"
                            class="col-6 {% status_class filtered_workflows.initial.review_status %}">
                            {% bootstrap_field filtered_workflows.review_status show_label=False wrapper_class="m-0" %}
                        </td>
                        {% else %}
                        <td id="workflow_review_status_{{filtered_workflows.instance.id}}"
                            class="col-6 {% status_class_without_incident_workflow report incident %}">
                            {% is_deadline_exceeded report incident %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endwith %}
                    {% endfor %}
                </table>
                {% endblock %}
            </td>
            <td class="table-group-divider"> <!-- Incident status  -->
                {% block content_table_incident_status %}
                {% for field in incident.formsStatus %}
                {% if field.name == "incident_status" %}
                {% bootstrap_field field show_label=False wrapper_class="m-0" %}
                {% endif %}
                {% endfor %}
                {% endblock %}
            </td>
            <td class="table-group-divider"> <!-- Significative impact -->
                {% block content_table_significative_impact %}
                {% for field in incident.formsStatus %}
                {% if field.name == "is_significative_impact" %}
                {% bootstrap_field field show_label=False wrapper_class="d-flex align-items-center justify-content-center" %}
                {% endif %}
                {% endfor %}
                {% endblock %}
            </td>
            <td class="table-group-divider"> <!-- Actions -->
                <div class="col d-flex align-items-center">
                    {% block content_table_actions %}
                    <button class="btn text-secondary access_log p-0" data-incident-id="{{ incident.id }}"
                        title="Access Log">
                        <i class="bi bi-file-earmark-person h4"></i>
                    </button>
                    <a class="btn text-secondary p-0 border-0" href="{% url 'download_incident_pdf' incident.id %}"
                        title="Download">
                        <i class="bi bi-filetype-pdf h4"></i>
                    </a>
                    {% endblock %}
                </div>
            </td>
        </tr>
        {% endtimezone %}
        {% endfor %}
    </tbody>
</table>
<div>
    {% if incidents.has_other_pages %}
    <ul class="pagination">
        {% if incidents.has_previous %}
        <li>
            <a href="?{% url_replace request 'page' incidents.previous_page_number %}" class="page-link">
                &laquo;
            </a>
        </li>
        {% else %}
        <li class="page-link disabled">
            <span>&laquo;</span>
        </li>
        {% endif %}
        {% for i in incidents.paginator.page_range %}
        {% if incidents.number == i %}
        <li class="page-link active">
            {{ i }}
        </li>
        {% else %}
        <li class="page-link">
            <a class="text-decoration-none" href="?{% url_replace request 'page' i %}">
                {{ i }}
            </a>
        </li>
        {% endif %}
        {% endfor %}
        {% if incidents.has_next %}
        <li>
            <a class="page-link text-decoration-none" href="?{% url_replace request 'page' incidents.next_page_number %}">
                &raquo;
            </a>
        </li>
        {% else %}
        <li class="page-link disabled">
            <span>&raquo;</span>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% else %}
<p>{% translate "No incident" %}</p>
{% endif %}

<!-- Modal dialogs -->

{% block content_modals %}
<div class="modal fade" id="access_log" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="access_log_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"></div>
</div>

<div class="modal fade modal-sm" id="report_versions" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="report_versions_label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        {% include "modals/report_versions.html" %}
    </div>
</div>
{% endblock %}

{% endblock %}
