{% extends 'home/base.html' %}
{% load i18n %}
{% block content %}
<div class="text-justify">
    <h1>{% translate "Incident list" %}</h1>
    {% if incidents %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">{% translate "Date" %}</th>
                <th scope="col">{% translate "Contact" %}</th>
                <th scope="col">{% translate "Regulator" %}</th>
                <th scope="col">{% translate "Regulation" %}</th>
                <th scope="col">{% translate "Next step" %}</th>
                <th scope="col">{% translate "See or edit workflow" %}</th>
                <th scope="col">{% translate "Action" %}</th>
                <th scope="col">{% translate "Review status" %}</th>
            </tr>
        </thead>
        {% for incident in incidents %}
        <tbody>
            <tr>
                <td scope="row">{{incident.incident_notification_date}}</td>
                <td>{{incident.contact_lastname}}</td>
                <td>{{incident.sector_regulation.regulator}}</td>
                <td>{{incident.sector_regulation.regulation}}</td>
                <td>{% if incident.get_next_step is not None %}
                    <a href="{% url 'next_workflow' incident.id %}">{{incident.get_next_step}}</a>
                    {% endif %}
                </td>
                <td>{% for completed_workflow in incident.get_latest_workflows %}
                    <a href="{% url 'edit_workflow' completed_workflow.id %}">{{completed_workflow.workflow}}</a> <br/>
                {% endfor %}</td>
                <td scope="col">
                    {% if incident.are_impacts_present %}
                    <a href="{% url 'edit_impacts' incident.id %}">{% translate "See or edit impacts" %}</a>
                    {% endif %}
                </td>
                <td scope="row">{{incident.get_review_status}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if incidents_page.has_previous %}
                <a href="?page=1">&laquo; {% translate "first" %}</a>
                <a href="?page={{ incidents_page.previous_page_number }}">{% translate "previous" %}</a>
            {% endif %}

            <span class="current">
                {% translate "Page" %} {{ incidents_page.number }} {% translate "of" %} {{ incidents_page.paginator.num_pages }}
            </span>

            {% if incidents_page.has_next %}
                <a href="?page={{ incidents_page.next_page_number }}">{%translate "next" %}</a>
                <a href="?page={{ incidents_page.paginator.num_pages }}">{%translate "last" %} &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <p>{% translate "There are no incident" %}</p>
    {% endif %}

</div>
<div class="d-grid col-2 mx-auto">
    <a role="button" class="btn btn-primary" href="{% url 'declaration' %}">
        {% translate "Signaler un incident" %}
    </a>
</div>
{% endblock %}
