{% extends 'home/base.html' %}
{% block bootstrap5_title %}Incidents{% endblock %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load custom_filters %}
{% load django_bootstrap5 %}

{% block bootstrap5_extra_script %}
<script type="text/javascript" src="{% static 'npm_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'npm_components/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" />
<script type="text/javascript"
    src="{% static 'npm_components/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src='{% static "js/incidents_operator.js" %}'></script>
<link rel="stylesheet" type="text/css" href="/static/npm_components/bootstrap-select/dist/css/bootstrap-select.css" />
<script src="/static/npm_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{% static 'css/incidents.css' %}" />

{% endblock %}

{% block content %}
{% settings_value "TIME_ZONE" as time_zone %}
<div class="d-flex justify-content-between">
    <div>
        <a role="button" class="btn btn-primary btn-sm" href="{% url 'declaration' %}">
            {% translate "Report an incident" %}
        </a>
    </div>
    <div>
        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
            {% translate "Filter" %}
            {% if is_filtered %}
            <span>
                ({% translate "Applied" %})
            </span>
            {% endif %}
             <i class="bi bi-funnel-fill"></i>
        </button>
    </div>
</div>


<div class="my-2">
    <div id="collapseFilters" class="collapse">
        <form method="get">
            <!-- {% bootstrap_form filter.form %} -->
            <div class="row">
                <div class="col-6">
                    {% bootstrap_field filter.form.incident_id show_label=True %}
                </div>
                <div class="col-6">
                    {% bootstrap_field filter.form.incident_status show_label=True %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {% bootstrap_field filter.form.is_significative_impact show_label=True %}
                </div>
                <div class="col-6">
                    {% bootstrap_field filter.form.affected_sectors show_label=True wrapper_class="affected-sector-filter" %}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-danger btn-sm" type="submit" name="reset" value="true">{% translate "Reset" %}</button>
                <input class="btn btn-primary btn-sm ms-2" type="submit" value='{{_("Search")}}' />
            </div>

        </form>
    </div>
</div>
{% if filter.qs %}
<table id="incidents-table" class="table align-middle table-sm small">
    <thead>
        <tr>
            <th scope="col">{% translate "Notification date" %}</th>
            <th scope="col">{% translate "Reference" %}</th>
            <th scope="col">{% translate "Regulator" %}</th>
            <th scope="col">{% translate "Regulation" %}</th>
            <th scope="col">{% translate "Sector" %}</th>
            <th scope="col">{% translate "Sub-sector" %}</th>
            <th scope="col">
                <table class="table table-borderless table-sm m-0">
                    <tr>
                        <td>{% translate "Report" %}</td>
                        <td>{% translate "Status" %}</td>
                    </tr>
                </table>
            </th>
            <th scope="col">{% translate "Significative impact" %}</th>
            <th scope="col">{% translate "Incident status" %}</th>
            <th scope="col">{% translate "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for incident in incidents %}
        <tr>
            {% timezone time_zone %}
            <td class="table-group-divider" scope="row">{{incident.incident_notification_date|date:"d M Y, H:i" }}</td>
            <td class="table-group-divider">{{ incident.incident_id }}</td>
            <td class="table-group-divider">{{ incident.sector_regulation.regulator }}</td>
            <td class="table-group-divider">{{ incident.sector_regulation.regulation }}</td>
            <td class="table-group-divider">
                <ul class="m-0 p-0">
                    {% for sector in incident.affected_sectors.all %}
                    {% if sector.parent is None %}
                    {{ sector.name }}
                    {% else %}
                    {{ sector.parent }}
                    {% endif %}
                    <br />
                    {% endfor %}
                </ul>
            </td>
            <td class="table-group-divider">
                <ul class="m-0 p-0">
                    {% for sector in incident.affected_sectors.all %}
                    {% if sector.parent is not None %}
                    {{ sector.name }}
                    {% endif %}
                    <br />
                    {% endfor %}
                </ul>
            </td>
            <td class="table-group-divider">
                <table class="table table-borderless table-sm m-0">
                    {% with completed_workflows=incident.get_workflows_completed %}
                    {% for report in incident.get_all_workflows %}
                    {% with filtered_workflows=completed_workflows|filter_workflows:report.id %}
                    {% is_workflow_disabled incident.get_all_workflows completed_workflows report as workflow_disabled %}
                    <tr>
                        <td class="col-6">
                            <div class="col">
                                <a class="{% if workflow_disabled %}disabled-link text-decoration-none{% endif %}"
                                    href="{% if filtered_workflows %}{% url 'edit_workflow' %}{% else %}{% url 'create_workflow' %}{% endif %}?incident_id={{ incident.id }}&workflow_id={{ report.id }}">
                                    {{ report }}
                                </a>
                                {% with incident_workflows=incident|get_incident_workflow_by_workflow_operator:report %}
                                {% if incident_workflows %}
                                <button class="btn text-secondary p-0 ps-1" data-bs-toggle="modal" data-bs-target="#report_versions_{{ report.id }}" title="Report versions">
                                    <i class="bi bi-clock-history"></i>
                                </button>
                                <div class="modal fade modal-sm" id="report_versions_{{ report.id }}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="report_versions_label"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header bg-primary text-white">
                                                <h4 class="modal-title" id="report_versions_label">
                                                    {{ _('Report versions') }}
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>{{ incident.incident_id }}</h5>
                                                <h6>{{ report }}</h6>
                                                <table class="table table-sm">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th scope="col">{% translate "Date" %}</th>
                                                            <th scope="col">{% translate "Action" %}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for incident_workflow in incident_workflows %}
                                                        {% timezone time_zone %}
                                                        <tr>
                                                            <td>
                                                                {{ incident_workflow.timestamp|date:"d/m/Y H:i"}}
                                                            </td>
                                                            <td>
                                                                <a class="btn text-primary" href="{% url 'review_workflow' %}?incident_workflow_id={{ incident_workflow.id }}" title="Review">
                                                                    <i class="bi bi-binoculars"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        {% endtimezone %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                        </td>
                        <td>
                            {% if filtered_workflows.comment is not None %}
                            <button class="bi bi-chat-left" fill="currentColor" data-bs-toggle="modal"
                                data-bs-target="#comment{{ filtered_workflows.id }}">
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="comment{{ filtered_workflows.id }}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{ _('Comment') }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ filtered_workflows.comment }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                        {% if filtered_workflows.get_review_status_display %}
                        <td class="col-7 {% status_class filtered_workflows.review_status %}">
                            {{ filtered_workflows.get_review_status_display }}
                        {% else %}
                        <td class="col-7 {% status_class_without_incident_workflow report incident %}">
                            {% is_deadline_exceeded report incident %}
                        {% endif %}
                        </td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                    {% endwith %}
                </table>
            </td>
            <td class="table-group-divider">
                {% if incident.is_significative_impact %}
                <span class="bi bi-check-lg d-flex align-items-center justify-content-center"></span>
                {% endif %}
            </td>
            <td class="table-group-divider">{{ incident.get_incident_status_display }}</td>
            <td class="table-group-divider">
                <div class="col d-flex align-items-center">
                    <button class="btn text-secondary access_log p-0" data-incident-id="{{ incident.id }}"
                        title="Access Log">
                        <i class="bi bi-file-earmark-person h4"></i>
                    </button>
                    <a href="{% url 'download_incident_pdf' incident.id %}" class="text-decoration-none"
                        title="Download">
                        <img src="/static/images/pdf_file_icon.png" alt="download pdf" width="18" height="24">
                    </a>
                    {% if incident.workflows.count == 0 %}
                    <a href="{% url 'delete_incident' incident.id %}" alt="delete incident"
                        class="text-decoration-none p-0" title="Delete">
                        <i class="bi bi-file-earmark-x h4 text-danger"></i>
                    </a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endtimezone %}
        {% endfor %}
    </tbody>
</table>

<div>
    {% if incidents.has_other_pages %}
    <ul class="pagination">
        {% if incidents.has_previous %}
        <li><a href="?{% url_replace request 'page' incidents.previous_page_number %}" class="page-link">&laquo;</a>
        </li>
        {% else %}
        <li class="page-link disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in incidents.paginator.page_range %}
        {% if incidents.number == i %}
        <li class="page-link active">{{ i }}</li>
        {% else %}
        <li class="page-link"><a class="text-decoration-none" href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if incidents.has_next %}
        <li><a class="page-link text-decoration-none" href="?{% url_replace request 'page' incidents.next_page_number %}">&raquo;</a></li>
        {% else %}
        <li class="page-link disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% else %}
<p>{% translate "No incident" %}</p>
{% endif %}

<!-- Modal dialogs -->

<div class="modal fade" id="access_log" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="access_log_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"></div>
</div>

{% endblock %}
