{% extends 'home/base.html' %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load custom_filters %}
{% load django_bootstrap5 %}

{% block bootstrap5_extra_script %}
<script type="text/javascript" src="{% static 'npm_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'npm_components/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" />
<script type="text/javascript" src="{% static 'npm_components/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'npm_components/datatables.net-searchpanes-bs5/css/searchPanes.bootstrap5.min.css' %}" />
<script src='{% static "js/incidents_operator.js" %}'></script>
{% endblock %}

{% block content %}
<div class="d-flex">
    <div class="ms-auto">
        <a role="button" class="btn btn-primary btn-sm" href="{% url 'declaration' %}">
            {% translate "Signaler un incident" %}
        </a>
    </div>
</div>

{% if incidents %}
<table id="incidents-table" class="table align-middle table-sm small">
    <thead>
        <tr>
            <th scope="col">{% translate "Notification date" %}</th>
            <th scope="col">{% translate "Reference" %}</th>
            <th scope="col">{% translate "Regulator" %}</th>
            <th scope="col">{% translate "Regulation" %}</th>
            <th scope="col">{% translate "Sector" %}</th>
            <th scope="col">{% translate "Sub-sector" %}</th>
            <th scope="col"><table class="table table-borderless table-sm m-0">
                <tr>
                    <td>{% translate "Report" %}</td>
                    <td>{% translate "Status" %}</td>
                </tr> 
            </table></th>
            <th scope="col">{% translate "Incident status" %}</th>
            <!-- <th scope="col">{% translate "Review status" %}</th> -->
            <th scope="col">{% translate "Action" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for incident in incidents %}
        <tr>
            {% timezone "Europe/Paris" %}
            <td scope="row">{{incident.incident_notification_date|date:"d M Y, H:i" }}</td>
            {% endtimezone %}
            <td>{{ incident.incident_id }}</td>
            <td>{{ incident.sector_regulation.regulator }}</td>
            <td>{{ incident.sector_regulation.regulation }}</td>
            <td>
                <ul class="m-0 p-0">
                    {% for sector in incident.affected_sectors.all %}
                        {% if sector.parent is None %}
                            {{ sector.name }}
                        {% else %}
                            {{ sector.parent }}
                        {% endif %}
                        <br/>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul class="m-0 p-0">
                    {% for sector in incident.affected_sectors.all %}
                        {% if sector.parent is not None %}
                            {{ sector.name }}
                        {% endif %}
                        <br/>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <table class="table table-borderless table-sm m-0">
                    {% with completed_workflows=incident.get_workflows_completed %}
                    {% for report in incident.get_all_workflows %}
                    {% with filtered_workflows=completed_workflows|filter_workflows:report.id %}
                    {% is_workflow_disabled incident.get_all_workflows completed_workflows report as workflow_disabled %}
                    <tr>
                        <td class="col-5">
                            <a class="{% if workflow_disabled %}disabled-link{% endif %}"
                                href="{% if filtered_workflows %}{% url 'edit_workflow' %}{% else %}{% url 'create_workflow' %}{% endif %}?incident_id={{ incident.id }}&workflow_id={{ report.id }}">
                                {{ report }}
                            </a>
                        </td>
                        <td class="col-7 {% status_class filtered_workflows.review_status %}">
                            {% if filtered_workflows.get_review_status_display %}
                                {{ filtered_workflows.get_review_status_display }}
                            {% else %}
                                {% is_deadline_exceeded report incident %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                    {% endwith %}
                </table>
            </td>
            <td>{{ incident.get_incident_status_display }}</td>
            <!-- <td scope="row" class="{% status_class incident.review_status %}">
                {{ incident.get_review_status_display }}
            </td> -->
            <td scope="col">
                <!-- {% if incident.are_impacts_present %}
                <a href="{% url 'edit_impacts' incident.id %}">
                    {% translate "See or edit impacts" %}
                </a>
                {% endif %}
                <br/> -->
                <a href="{% url 'download_incident_pdf' incident.id %}">
                    <img src="/static/images/pdf_file_icon.png" alt="download pdf" width="18" height="24">
                </a>
                <a href="{% url 'edit_incident_timeline' incident.id %}" class="changelink">{{ _('Edit timeline') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if incidents_page.has_previous %}
        <a href="?page=1">&laquo; {% translate "first" %}</a>
        <a href="?page={{ incidents_page.previous_page_number }}">
            {% translate "previous" %}
        </a>
        {% endif %}

        <span class="current">
            {% translate "Page" %} {{ incidents_page.number }} {% translate "of" %}
            {{ incidents_page.paginator.num_pages }}
        </span>

        {% if incidents_page.has_next %}
        <a href="?page={{ incidents_page.next_page_number }}">{%translate "next" %}</a>
        <a href="?page={{ incidents_page.paginator.num_pages }}">{%translate "last" %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% else %}
<p>{% translate "No incident" %}</p>
{% endif %}
{% endblock %}
