{% extends 'home/base.html' %}
{% load i18n %}
{% block bootstrap5_title %}{% translate "404 Page Not Found" %}{% endblock %}
{% block content %}
<div class="d-flex container my-4">
    <div class="card col-6 m-auto">
        <div class="card-body">
            <div class="text-danger text-center">
                <h1 class="m-0 display-1">404</h1>
                <h1>{% translate "Page Not Found" %}</h1>
            </div>
            <div class="m-4">
                <h3>{% translate "Sorry, the page you're looking for doesn't exist." %}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
