{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="modal-content">
    <div class="modal-header bg-danger text-white">
        <h4 class="modal-title" id="report_versions_label">
            {% translate "Delete incident" %}
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div>
            {% translate "Are you sure you want to delete the incident?" %}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            {% translate "Cancel" %}
        </button>
        <a id="modal-delete-button" type="button" class="btn btn-danger" href="#">
            {% translate "Delete" %}
        </a>
    </div>
</div>
{% endblock %}
