amqp==5.3.1 ; python_version >= "3.10" and python_version < "4.0"
asgiref==3.10.0 ; python_version >= "3.10" and python_version < "4.0"
async-timeout==5.0.1 ; python_version >= "3.10" and python_full_version < "3.11.3"
attrs==25.4.0 ; python_version >= "3.10" and python_version < "4.0"
billiard==4.2.2 ; python_version >= "3.10" and python_version < "4.0"
brotli==1.2.0 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation == "CPython"
brotlicffi==1.1.0.0 ; python_version >= "3.10" and python_version < "4.0" and platform_python_implementation != "CPython"
celery==5.5.3 ; python_version >= "3.10" and python_version < "4.0"
certifi==2025.10.5 ; python_version >= "3.10" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
charset-normalizer==3.4.4 ; python_version >= "3.10" and python_version < "4.0"
click-didyoumean==0.3.1 ; python_version >= "3.10" and python_version < "4.0"
click-plugins==1.1.1.2 ; python_version >= "3.10" and python_version < "4.0"
click-repl==0.3.0 ; python_version >= "3.10" and python_version < "4.0"
click==8.3.0 ; python_version >= "3.10" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
cryptography==44.0.3 ; python_version >= "3.10" and python_version < "4.0"
cssselect2==0.8.0 ; python_version >= "3.10" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.10" and python_version < "4.0"
diff-match-patch==20241021 ; python_version >= "3.10" and python_version < "4.0"
django-bootstrap5==23.4 ; python_version >= "3.10" and python_version < "4.0"
django-cookiebanner==0.2.8 ; python_version >= "3.10" and python_version < "4.0"
django-cors-headers==4.9.0 ; python_version >= "3.10" and python_version < "4.0"
django-countries==7.6.1 ; python_version >= "3.10" and python_version < "4.0"
django-extensions==3.2.3 ; python_version >= "3.10" and python_version < "4.0"
django-filter==23.5 ; python_version >= "3.10" and python_version < "4.0"
django-formtools==2.5.1 ; python_version >= "3.10" and python_version < "4.0"
django-health-check==3.20.0 ; python_version >= "3.10" and python_version < "4.0"
django-import-export==3.3.9 ; python_version >= "3.10" and python_version < "4.0"
django-otp==1.6.3 ; python_version >= "3.10" and python_version < "4.0"
django-parler-rest==2.2 ; python_version >= "3.10" and python_version < "4.0"
django-parler==2.3 ; python_version >= "3.10" and python_version < "4.0"
django-phonenumber-field==7.3.0 ; python_version >= "3.10" and python_version < "4.0"
django-ranged-response==0.2.0 ; python_version >= "3.10" and python_version < "4.0"
django-simple-captcha==0.6.2 ; python_version >= "3.10" and python_version < "4.0"
django-two-factor-auth==1.18.1 ; python_version >= "3.10" and python_version < "4.0"
django==5.2.8 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework==3.16.1 ; python_version >= "3.10" and python_version < "4.0"
drf-spectacular-sidecar==2024.12.1 ; python_version >= "3.10" and python_version < "4.0"
drf-spectacular==0.27.2 ; python_version >= "3.10" and python_version < "4.0"
et-xmlfile==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
fonttools==4.60.1 ; python_version >= "3.10" and python_version < "4.0"
idna==3.11 ; python_version >= "3.10" and python_version < "4.0"
inflection==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-specifications==2025.9.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.25.1 ; python_version >= "3.10" and python_version < "4.0"
kaleido==0.2.1 ; python_version >= "3.10" and python_version < "4.0"
kombu==5.5.4 ; python_version >= "3.10" and python_version < "4.0"
markuppy==1.18 ; python_version >= "3.10" and python_version < "4.0"
odfpy==1.4.1 ; python_version >= "3.10" and python_version < "4.0"
openpyxl==3.1.5 ; python_version >= "3.10" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.10" and python_version < "4.0"
parler==1.0.1 ; python_version >= "3.10" and python_version < "4.0"
phonenumbers==8.13.55 ; python_version >= "3.10" and python_version < "4.0"
pillow==12.0.0 ; python_version >= "3.10" and python_version < "4.0"
plotly==5.24.1 ; python_version >= "3.10" and python_version < "4.0"
prompt-toolkit==3.0.52 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.11 ; python_version >= "3.10" and python_version < "4.0"
pycparser==2.23 ; python_version >= "3.10" and python_version < "4.0" and implementation_name != "PyPy"
pydyf==0.11.0 ; python_version >= "3.10" and python_version < "4.0"
pyjwt==2.10.1 ; python_version >= "3.10" and python_version < "4.0"
pyphen==0.17.2 ; python_version >= "3.10" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "4.0"
pytz==2024.2 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "4.0"
qrcode==8.2 ; python_version >= "3.10" and python_version < "4.0"
redis==5.3.1 ; python_version >= "3.10" and python_version < "4.0"
referencing==0.37.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.32.5 ; python_version >= "3.10" and python_version < "4.0"
rpds-py==0.28.0 ; python_version >= "3.10" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.10" and python_version < "4.0"
tablib==3.5.0 ; python_version >= "3.10" and python_version < "4.0"
tenacity==9.1.2 ; python_version >= "3.10" and python_version < "4.0"
tinycss2==1.4.0 ; python_version >= "3.10" and python_version < "4.0"
tinyhtml5==2.0.0 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "4.0"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
uritemplate==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "4.0"
vine==5.1.0 ; python_version >= "3.10" and python_version < "4.0"
wcwidth==0.2.14 ; python_version >= "3.10" and python_version < "4.0"
weasyprint==66.0 ; python_version >= "3.10" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
whitenoise==6.11.0 ; python_version >= "3.10" and python_version < "4.0"
xlrd==2.0.2 ; python_version >= "3.10" and python_version < "4.0"
xlwt==1.3.0 ; python_version >= "3.10" and python_version < "4.0"
zopfli==0.2.3.post1 ; python_version >= "3.10" and python_version < "4.0"
