{% extends 'home/base.html' %}
{% block bootstrap5_title %}Incidents{% endblock %}
{% load i18n %}
{% load tz %}
{% load static %}
{% load custom_filters %}
{% load django_bootstrap5 %}

{% block bootstrap5_extra_script %}
<script type="text/javascript" src="{% static 'npm_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'npm_components/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" />
<script type="text/javascript" src="{% static 'npm_components/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src='{% static "js/incidents_regulator.js" %}'></script>
<link rel="stylesheet" type="text/css" href="/static/npm_components/bootstrap-select/dist/css/bootstrap-select.css" />
<script src="/static/npm_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block content %}
<h3>{{ _('Reported incidents') }}</h3>
{% if filter.qs %}
<div class="container">
    <div class="accordion" id="accordionFiltersForm">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="true" aria-controls="collapseFilters">
                Filters
                </button>
            </h2>
            <div id="collapseFilters" class="accordion-collapse collapse" data-bs-parent="#accordionFiltersForm">
                <div class="accordion-body">
                    <form method="get">
                        <!-- {% bootstrap_form filter.form %} -->
                        <div class="row">
                            <div class="col-sm">
                                {% bootstrap_field filter.form.incident_id show_label=True %}
                            </div>
                            <div class="col-sm">
                                {% bootstrap_field filter.form.incident_status show_label=True %}
                            </div>
                            <div class="col-sm">
                                {% bootstrap_field filter.form.is_significative_impact show_label=True %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                {% bootstrap_field filter.form.affected_sectors show_label=True %}
                            </div>
                        </div>
                        <input class="btn btn-primary" type="submit" value='{{_("Search")}}' />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<table id="incidents-table" class="table align-middle table-sm small">
    <thead>
        <tr>
            <th scope="col">{% translate "Notification date" %}</th>
            <th scope="col">{% translate "Regulator" %}</th>
            <th scope="col">{% translate "Reference" %}</th>
            <th scope="col">{% translate "Operator" %}</th>
            <th scope="col">{% translate "Sectors" %}</th>
            <th scope="col">{% translate "Sub-sectors" %}</th>
            <th scope="col"><table class="table table-borderless table-sm m-0">
                <tr>
                    <td>{% translate "Report" %}</td>
                    <td>{% translate "Status" %}</td>
                </tr>
            </table></th>
            <th scope="col">{% translate "Incident status" %}</th>
            <th scope="col">{% translate "Significative impact" %}</th>
            <th scope="col">{% translate "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for incident in incidents %}
        <tr>
                {% timezone "Europe/Paris" %}
                <td class="table-group-divider" scope="row">{{incident.incident_notification_date|date:"d M Y, H:i" }}</td>
                {% endtimezone %}
                <td class="table-group-divider">{{ incident.sector_regulation.regulator }}</td>
                <td class="table-group-divider">{{ incident.incident_id }}</td>
                <td class="table-group-divider">{{ incident.company.identifier }}</td>
                <td class="table-group-divider">
                    <ul class="m-0 p-0">
                        {% for sector in incident.affected_sectors.all %}
                            {% if sector.parent is None %}
                                {{ sector.name }}
                            {% else %}
                                {{ sector.parent }}
                            {% endif %}
                            <br/>
                        {% endfor %}
                    </ul>
                </td>
                <td class="table-group-divider">
                    <ul class="m-0 p-0">
                        {% for sector in incident.affected_sectors.all %}
                            {% if sector.parent is not None %}
                                {{ sector.name }}
                            {% endif %}
                            <br/>
                        {% endfor %}
                    </ul>
                </td>
                <td class="table-group-divider">
                    <table class="table table-borderless table-sm m-0">
                        {% for report in incident.get_all_workflows %}
                        {% with filtered_workflows=incident|filter_workflows_forms:report %}
                        <tr colspan="2">
                            <td class="col-5">
                                <a class="{% if not filtered_workflows %}disabled-link{% endif %}"
                                    href="{% if filtered_workflows %}{% url 'edit_workflow' %}?incident_workflow_id={{ filtered_workflows.instance.id }}{% endif %}">
                                    {{ report }}
                                </a><br/>
                                {% with incident_workflows=incident|get_incident_workflow_by_workflow:report %}
                                {% if incident_workflows %}
                                <span class="fw-bold">{{ _('Historic') }}:</span><br/>
                                    {% for incident_workflow in incident_workflows %}
                                        <a class="text-dark" href="{% url 'review_workflow' %}?incident_workflow_id={{ incident_workflow.id }}">
                                        {{ incident_workflow.timestamp|date:"d/m/Y H:i"}}
                                        </a><br/>
                                    {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </td>
                            <td class="col-7 {% status_class filtered_workflows.initial.review_status %}">
                                {% if filtered_workflows %}
                                    {% get_review_status_name filtered_workflows.initial.review_status %}
                                {% else %}
                                    {% is_deadline_exceeded report incident %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </table>
                </td>
                <td class="table-group-divider">
                    {{ incident.get_incident_status_display }}
                </td>
                <td class="table-group-divider">
                    {% if incident.is_significative_impact %}
                        <span class="bi bi-check-lg d-flex align-items-center justify-content-center"></span>
                    {% else %}
                        <span class="d-flex align-items-center justify-content-center">X</span>
                    {% endif %}
                </td>
                <td style="white-space: nowrap;" class="table-group-divider">
                    <a href="{% url 'download_incident_pdf' incident.id %}">
                        <img src="/static/images/pdf_file_icon.png" alt="download pdf" width="18" height="24">
                    </a>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div >
    {% if incidents.has_other_pages %}
        <ul class="pagination">
        {% if incidents.has_previous %}
            <li><a href="?{% url_replace request 'page' incidents.previous_page_number %}" class="page-link">&laquo;</a></li>
        {% else %}
            <li class="page-link disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in incidents.paginator.page_range %}
            {% if incidents.number == i %}
                <li class="page-link active"><span>{{ i }} <span class="sr-only">
            </span></span></li>
            {% else %}
                <li class="page-link"><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if incidents.has_next %}
            <li><a class="page-link" href="?{% url_replace request 'page' incidents.next_page_number %}">&raquo;</a></li>
        {% else %}
            <li class="page-link disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
 {% endif %}
</div>
{% else %}
<p>{% translate "No incident" %}</p>
{% endif %}
{% endblock %}
