{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
<h1>
  {% block title %}
  {% translate "Enable Two-Factor Authentication" %}
  {% endblock %}
</h1>

<p>
  {% blocktrans trimmed %}
  Congratulations, you have successfully activated two-factor authentication.
  {% endblocktrans %}
</p>

{% if not phone_methods %}
<p>
  <a href="{% url 'logout' %}" class="btn btn-block btn-secondary">
    {% translate "Two-Factor Authentication has been set. Please log in again." %}
  </a>
</p>
{% else %}
<p>
  {% blocktrans trimmed %}
  However, there may be instances where you do not have access to your main token. To enable account recovery, add a
  phone number.
  {% endblocktrans %}
</p>

<a href="{% url 'two_factor:profile' %}" class="float-right btn btn-link">
  {% translate "Back to Account security" %}
</a>
<p>
  <a href="{% url 'two_factor:phone_create' %}" class="btn btn-success">
    {% translate "Add Phone Number" %}
  </a>
</p>
{% endif %}
{% endblock %}
